.login__wrapper{
    width: 100vw;
    height: 100vH;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__box{
    width: 25%;
    background: #eeededbd;
    padding: $m-size;
    border-radius: 3px;
    text-align: center;
    input{
        font-size: $font-m;
    }
}

.login__button {
    font-size: $font-m
}
